@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", system-ui;
  /* border: 1px solid red; */
  text-decoration: none;
  font-family: "Poppins", serif;
  margin: 0 !important;
  
}

small{
  font-size: 13px !important;
}

input{
  padding: 9px 1rem;
  display: block;
  width: 100% !important;
  border: none;
  border-radius: none !important;
  font-size:  13px !important;  
}

.grid1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.7rem;
}

img{
  width: 100%;
  max-width: 100%;
}


button{
  border: none;
  outline: none;
  font-size: 14px !important;
  padding: 10px 14px;
}

.main-btn{
  background-color: #e7be06;
  font-weight: bold;
}


.muted{
  opacity: 0.7;
}


body{
  color: #333 !important;
  background-color: #e5e8ee74 !important;
  overflow-x: hidden !important;
}


p{
  font-size: 14px !important;
}

.container2{
  width: 84%;
  margin: 0 auto !important;
}

.container3{
  margin: 0 auto !important;
  width: 70%;
}

.nav-link{
  font-size: 14px !important;
  color: #333;
}


/* =====HERO STYLES======== */
#hero{
  background-image: url('../public/Images/slider-bg-2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1f1f1f77;
  background-blend-mode: multiply;

}


.hero-text {
  max-width: 490px;
  height: 590px;
}


.hero-text h1{
  font-size: 3rem;
}


/* =======SERVICES STYLES========= */
.service-card{
  position: relative;
  background-image: linear-gradient(40deg, #f1f1f1, #E5E8EE);
  /* padding: 2rem; */
  background-color: #3E405A;
  border-radius: 8px;
  /* color: #ffffff; */
  border: 1px solid #cccccc7e;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  overflow: hidden;
}

.service-card-image{
  height: 200px;
  overflow: hidden;
}

.service-card-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.service-card:hover{
  /* color: #ffffff; */
}

.service-card:hover::before {
  opacity: 1;
}


/* =======NAVBAR STYLES HERE======= */
.header{
  height: 70px;
}

.main-navbar{
  background: linear-gradient(135deg, #edf0f40f, #dee1e52c);
  /* color: #ffffff !important; */
  /* z-index: -1; */
  backdrop-filter: blur(1px);
}


.main-navbar .nav-link{
  font-weight: 600;
}






/* =========FOOTER STYLES========= */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem !important;
}

.footer li {

  width: 100% !important;
}




/* =======CONTACT CARD STYLES======== */
.contact-card-image{
  width: fit-content !important;
  background: linear-gradient(135deg, #edf0f4, #dee1e5);
}


.contact-info{
  border: 1px solid #cccccc7e;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

/* ======FAQ STYLES ======= */


.faq-q{
  font-size: 14.9px !important;
}

.faq-item{
  position: relative;
  padding: 1rem !important;
  /* border: 1px solid #ffffff; */
}

.faq-answer {
  overflow: hidden;
  position: relative; /* Prevents affecting other elements */
}

.faq-btn {
  background: none;
  border: none;
  font-size: 20px !important;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.faq-btn:hover {
  transform: scale(1.2);
}



.faq-item::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 4%;
  width: 90%;
  height: 2px;
  background-image: linear-gradient(40deg, black, #d803034e, rgba(0, 0, 0, 0.719) );
}

.faq-btn{
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.faq-answer.close{
  height: 0;
}

.num{
  border-radius: 7px;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 13px;
  background-color: #1F1F1F;
}






/* ========WHY US========= */
.grid-card{
  border: 1px solid #ccc;
  padding: 1.4rem;
  border-top: none;
  border-left: none;
}

.grid-card:nth-child(3){
  border-right: none;
}

.grid-card:nth-child(6){
  border-bottom: none;
  border-right: none;
}

.grid-card:nth-child(4){
  border-bottom: none;
  /* border-right: none; */
}
.grid-card:nth-child(5){
  border-bottom: none;
  /* border-right: none; */
}

.why-image{
  width: 40px;
}



.card-text{
  max-width: 490px !important;
  /* color: red; */
}


/* =======tRUSTED STYLES======= */
.trusted-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.7rem !important;
}
.trusted-grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.7rem !important;
}


.trusted-cards, .trusted, .card-bg{
border: 1px solid #cccccc80;
  background-image: linear-gradient(40deg, #f1f1f1, #E5E8EE);
}





@media (max-width: 768px) {
  .grid1{
    grid-template-columns: 1fr 1fr;
  }

  
  .grid-card:nth-child(2){
    border-right: none;
  }
  .grid-card:nth-child(3){
    border-right: inherit;
    border-right: 1px solid #ccc;
  }
  .grid-card:nth-child(4){
    border-bottom: 1px solid #ccc;
    border-right: none;
  }

  .container2, .container3{
    width: 92%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.7rem;
  }


  .grid4{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    
  }

  .trusted-grid{
    grid-template-columns: 1fr;
  }
  

  #hero{
    min-height: 700px !important;
    background-image: url('../public/Images/counter-bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .hero-text{
    min-height: 40vh !important;
    
  }
  
}



@media (max-width: 576px){
  .grid1{
    grid-template-columns: 1fr;
  }

  .grid-card{
    border: none !important;
  }

 
  .trusted-grid2{
    grid-gap: 0.8rem !important;
  }
  
}

@media (max-width: 576px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.7rem;
  }

  .hero-text h1{
    font-size: 2.7rem;
  }
}